@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2b3035;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.App {
    font-family: "Roboto", sans-serif;
    h1, h2, .navbar-brand {
        font-family: "Anton", sans-serif;
    }
}

.logo {
    width: 100px;
    height: auto;
}

.cent {
    @include large {
            text-align: center;
    }
    @include medium {
        text-align: center;
    }
    @include small {
        text-align: center;
    }
}

.mainTextHeader {
    color: #03f96e;
    font-size: 3.5rem;

    @include extraLarge {
        font-size: 3rem;
    }

    @include large {
        font-size: 2.5rem;
    }

    @include medium {
        font-size: 2rem;
    }
    @include small {
        font-size: 2rem;
    }
}

.mainHeader {
    background: url(../assets/images/header.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
}

.secondaryTextHeader {
    color: white;
    font-size: 2.6rem;

    @include extraLarge {
        font-size: 2.2rem;
    }

    @include large {
        font-size: 1.7rem;
    }

    @include medium {
        font-size: 1.5rem;
    }
    @include small {
        font-size: 1.5rem;
    }
}

.viewMyProjectsBtn {
    background-color: #03f96e;
}

.viewMyProjectsBtn:hover {
    background-color: white;
    color: black;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 4px 4px rgba(255, 255, 255, 1.2);
    }

    50% {
        box-shadow: 0 4px 50px rgba(255, 255, 255, 1.2);
    }

    100% {
        box-shadow: 0 4px 4px rgba(255, 255, 255, 1.2);
    }
}

.custom-shadow {
    animation: shadowPulse 2s infinite;

    @include medium {
        width: 60% !important;
    }
}

.nav-link.active {
    color: #03f96e !important;
    font-weight: bold;
}

#about {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
        color: #03f96e;
    }

    li {
        max-width: 600px;
        margin: 0 auto;
    }

    .mainAccordionSection {
        min-width: 100%;
        border: none;
    }

    .mainCardAccordion {
        background-color: #2b3035;
        color: #03f96e;
        border: none;
    }

    .mainCardHeader {
        background-color: transparent;
        background-color: #2b3035;
        border: none;
    }

    .modern-button {
        background-color: #03f96e;
        color: #2b3035;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #028a4e;
        }
    }

    .progress-bar {
        background-color: #03f96e;
        color: #000000;
    }

    .progressBarLanguages {
        min-width: 600px;

        @include medium {
            min-width: 468px;
        }

        @include small {
            min-width: 250px;
        }
    }

    .imageResume {
        width: 100%;
    }

    .cvBtn:hover {
        color: #03f96e;
    }

    .cvBtn {
        @include small {
                font-size: 10px;
        }
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
            margin-bottom: 10px;
        }
    }
}

#projects {
    @include small {
        background-image: none;
        background-color: #0e1f2cf2;
    }
    @include medium {
        background-image: none;
        background-color: #0e1f2cf2;
    }
    @include large {
        background-image: none;
        background-color: #0e1f2cf2;
    }
    background: url('../assets/images/myprojects.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin-top: 60px;
    padding-bottom: 60px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    h2 {
        color: #03f96e;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-12,
    .col-md-6,
    .col-lg-4 {
        padding: 10px;
    }

    .card {
        background-color: #eeeeee;
        padding: 20px;
        border-radius: 10px;
        transition: transform 0.2s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            transform: scale(1.05);
        }
    }

    .cardImage {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card h3 {
        font-size: 18px;
        margin: 10px 0;
    }

    .card p {
        font-size: 14px;
        color: #666;
    }

    .view-project-btn {
        padding: 10px 20px;
        font-size: 14px;
        background-color: #2b3035 !important;
        margin-top: auto;

        @include small {
            padding: 8px 16px;
            font-size: 12px;
        }

        @include medium {
            padding: 10px 18px;
            font-size: 13px;
        }

        @include large {
            padding: 12px 22px;
            font-size: 14px;
        }
    }

    @include small {
        .col-lg-4 {
            flex: 0 0 75% !important;
            max-width: 75% !important;
        }

        .card {
            padding: 15px;
        }

        .card h3 {
            font-size: 16px;
        }

        .card p {
            font-size: 12px;
        }
    }

    @include medium {
        .col-lg-4 {
            flex: 0 0 75% !important;
            max-width: 75% !important;
        }

        .card {
            padding: 18px;
        }

        .card h3 {
            font-size: 17px;
        }

        .card p {
            font-size: 13px;
        }
    }

    @include large {
        .col-lg-4 {
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }

        .card {
            padding: 20px;
        }

        .card h3 {
            font-size: 18px;
        }

        .card p {
            font-size: 14px;
        }
    }

    .view-project-btn:hover {
        background-color: #075e2d !important;
    }

    .live-btn {
        animation: colorChange 2s infinite;
        margin-bottom: 5px;
    }
    .live-btn:hover {
        background-color: #0f1f2d !important;
    }

    @keyframes colorChange {
        0%, 100% {
            color: white;
        }
        50% {
            color: #075e2d;
        }
    }
}


#footer {
    background-color: #2b3035;
    color: #fff;
    padding: 20px 0;
    text-align: center;

    .footer-logo {
        width: 130px;
        height: auto;
        margin-bottom: 20px;
    }

    .footer-text {
        color: #03f96e;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .icon {
            width: 40px;
            height: 40px;
            transition: all 0.3s ease;

            &:hover {
                border: 2px solid #03f96e;
                border-radius: 10px;
                padding: 5px;
            }
        }
    }

    .footer-rights {
        color: #03f96e;
        font-size: 0.9rem;
    }
}

/* Contact Modal Styles */
.modal-content {
    background-color: #2b3035;
    color: #fff;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-title {
    color: #03f96e;
}

.form-control {
    background-color: #3a3f44;
    color: #fff;
    border: 1px solid #03f96e;

    &::placeholder {
        color: #03f96e;
        opacity: 1;
    }
}

.form-control:focus {
    background-color: #3a3f44;
    color: #fff;
    border-color: #03f96e;
    box-shadow: none;
}

.btn-primary {
    background-color: #03f96e;
    border: none;

}

form .btn-primary { 
    color: #2b3035 !important;
    font-weight: bold !important;
}

form .btn-primary:hover {
    background-color: #028a4e;
}

.btn-primary:hover {
    color: #fff !important;
}

.modal-header .btn-close {
    color: #03f96e;
    opacity: 1;
}

.toastify-container {
    .Toastify__toast--success {
        background-color: #03f96e;
    }

    .Toastify__toast--error {
        background-color: #ff4d4d;
    }
}